<div class="grid">
    @for (product of products(); track product.publicId) {
        <div class="product-card">
            <img 
                [src]="product.mainImage"
                (click)="goToDetail(product.publicId)"
            />
            <div class="product-info">
                <h3 
                    class="product-title"
                    (click)="goToDetail(product.publicId)"
                >{{ product.title }}</h3>
                <div class="product-details">
                    <p class="stock">stock: {{product.stock}}</p>
                    <p class="price">{{ product.price | currency:'EUR' }}</p>
                    <button [disabled]="product.stock === 0" >Añadir +</button>
                </div>
            </div>
        </div>
    }
</div>