<div class="admin-table">
    <h2>Gestión de productos</h2>

    <p-table [value]="products">
        <ng-template pTemplate="header">
        <tr>
            <th>Título</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.title }}</td>
            <td>{{ product.price | currency:'EUR' }}</td>
            <td>{{ product.stock }}</td>
            <td>
                <button pButton icon="pi pi-trash" severity="danger" label="Eliminar" (click)="deleteProduct(product.publicId)"></button>
                <button pButton icon="pi pi-pencil" severity="warn" label="Editar" class="warning-btn"></button>
            </td>
        </tr>
        </ng-template>
    </p-table>
</div>
