@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

:root {
  --color-background: #e0f7fa;
  --color-primary: #0288d1;
  --color-primary-dark: #0277bd;
  --color-accent: #81d4fa;
  --color-text-dark: #01579b;
  --font-family-main: 'Iceberg', 'Helvetica Neue', Arial, sans-serif;
}

:root {
  --primary-color: #1e88e5;
  --primary-color-text: #ffffff;

  --surface-ground: #f4f4f4;
  --surface-card: #ffffff;
  --text-color: #333333;

  --border-color: #dcdcdc;
  --border-radius: 6px;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-main);
    background-color: var(--color-background);
}
